# [0-3] i think will be used..
verbose		3
consumer_key	VHwzHGBDO4stWqGMgz0e0g
consumer_secret	xxxx
token		339290761-lkveKXFJBEEaz9qBoN62ftHA3FuRXWXABMAHLLaG
token_secret	xxxx

# you can add more HTML entities if you think necessary.
# i think this is all of them. 'quot', 'amp', 'apos', 'lt', 'gt', and 'nbsp'
# are already hardcoded in source since they're rather required.
# from: http://www.w3.org/TR/html4/sgml/entities.html
html	iexcl    161
html	cent     162
html	pound    163
html	curren   164
html	yen      165
html	brvbar   166
html	sect     167
html	uml      168
html	copy     169
html	ordf     170
html	laquo    171
html	not      172
html	shy      173
html	reg      174
html	macr     175
html	deg      176
html	plusmn   177
html	sup2     178
html	sup3     179
html	acute    180
html	micro    181
html	para     182
html	middot   183
html	cedil    184
html	sup1     185
html	ordm     186
html	raquo    187
html	frac14   188
html	frac12   189
html	frac34   190
html	iquest   191
html	Agrave   192
html	Aacute   193
html	Acirc    194
html	Atilde   195
html	Auml     196
html	Aring    197
html	AElig    198
html	Ccedil   199
html	Egrave   200
html	Eacute   201
html	Ecirc    202
html	Euml     203
html	Igrave   204
html	Iacute   205
html	Icirc    206
html	Iuml     207
html	ETH      208
html	Ntilde   209
html	Ograve   210
html	Oacute   211
html	Ocirc    212
html	Otilde   213
html	Ouml     214
html	times    215
html	Oslash   216
html	Ugrave   217
html	Uacute   218
html	Ucirc    219
html	Uuml     220
html	Yacute   221
html	THORN    222
html	szlig    223
html	agrave   224
html	aacute   225
html	acirc    226
html	atilde   227
html	auml     228
html	aring    229
html	aelig    230
html	ccedil   231
html	egrave   232
html	eacute   233
html	ecirc    234
html	euml     235
html	igrave   236
html	iacute   237
html	icirc    238
html	iuml     239
html	eth      240
html	ntilde   241
html	ograve   242
html	oacute   243
html	ocirc    244
html	otilde   245
html	ouml     246
html	divide   247
html	oslash   248
html	ugrave   249
html	uacute   250
html	ucirc    251
html	uuml     252
html	yacute   253
html	thorn    254
html	yuml     255
html	OElig    338
html	oelig    339
html	Scaron   352
html	scaron   353
html	Yuml     376
html	fnof     402
html	circ     710
html	tilde    732
html	Alpha    913
html	Beta     914
html	Gamma    915
html	Delta    916
html	Epsilon  917
html	Zeta     918
html	Eta      919
html	Theta    920
html	Iota     921
html	Kappa    922
html	Lambda   923
html	Mu       924
html	Nu       925
html	Xi       926
html	Omicron  927
html	Pi       928
html	Rho      929
html	Sigma    931
html	Tau      932
html	Upsilon  933
html	Phi      934
html	Chi      935
html	Psi      936
html	Omega    937
html	alpha    945
html	beta     946
html	gamma    947
html	delta    948
html	epsilon  949
html	zeta     950
html	eta      951
html	theta    952
html	iota     953
html	kappa    954
html	lambda   955
html	mu       956
html	nu       957
html	xi       958
html	omicron  959
html	pi       960
html	rho      961
html	sigmaf   962
html	sigma    963
html	tau      964
html	upsilon  965
html	phi      966
html	chi      967
html	psi      968
html	omega    969
html	thetasym 977
html	upsih    978
html	piv      982
html	ensp     8194
html	emsp     8195
html	thinsp   8201
html	zwnj     8204
html	zwj      8205
html	lrm      8206
html	rlm      8207
html	ndash    8211
html	mdash    8212
html	lsquo    8216
html	rsquo    8217
html	sbquo    8218
html	ldquo    8220
html	rdquo    8221
html	bdquo    8222
html	dagger   8224
html	Dagger   8225
html	bull     8226
html	hellip   8230
html	permil   8240
html	prime    8242
html	Prime    8243
html	lsaquo   8249
html	rsaquo   8250
html	oline    8254
html	frasl    8260
html	euro     8364
html	image    8465
html	weierp   8472
html	real     8476
html	trade    8482
html	alefsym  8501
html	larr     8592
html	uarr     8593
html	rarr     8594
html	darr     8595
html	harr     8596
html	crarr    8629
html	lArr     8656
html	uArr     8657
html	rArr     8658
html	dArr     8659
html	hArr     8660
html	forall   8704
html	part     8706
html	exist    8707
html	empty    8709
html	nabla    8711
html	isin     8712
html	notin    8713
html	ni       8715
html	prod     8719
html	sum      8721
html	minus    8722
html	lowast   8727
html	radic    8730
html	prop     8733
html	infin    8734
html	ang      8736
html	and      8743
html	or       8744
html	cap      8745
html	cup      8746
html	int      8747
html	there4   8756
html	sim      8764
html	cong     8773
html	asymp    8776
html	ne       8800
html	equiv    8801
html	le       8804
html	ge       8805
html	sub      8834
html	sup      8835
html	nsub     8836
html	sube     8838
html	supe     8839
html	oplus    8853
html	otimes   8855
html	perp     8869
html	sdot     8901
html	lceil    8968
html	rceil    8969
html	lfloor   8970
html	rfloor   8971
html	lang     9001
html	rang     9002
html	loz      9674
html	spades   9824
html	clubs    9827
html	hearts   9829
html	diams    9830
